.venv/
.env
main/feature/ingest/venv/
main/feature/ingest/__pycache__/
main/feature/chatbot/__pycache__/

backend/node_modules/
main/feature/__pycache__/
frontend/package-lock.json
backend/.env
*.log

main/feature/ingest/.env

venv/
node_modules/